.App {
  background-color: #e9e5e4;
  min-height: 100vh;

  .search-bar {
    form {
      width: 100% !important;
    }
  }

  .MuiChip-root {
    margin-right: 5px !important;
    margin-bottom: 5px !important;
    background-color: #F79D81 !important;
  }

  .MuiTablePagination-displayedRows,
  .MuiTablePagination-selectLabel {
    margin-bottom: 0px !important;
  }
}

.Details {
  background-color: #e9e5e4;
  min-height: 100vh;
}

.error-page {
  background-color: #e9e5e4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}